<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfiImq5lCLWft9Il0MnVSyMh35_1YO6xo</string>
	<key>GCM_SENDER_ID</key>
	<string>10752210945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stnslwx.iText</string>
	<key>PROJECT_ID</key>
	<string>itext-3d629</string>
	<key>STORAGE_BUCKET</key>
	<string>itext-3d629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10752210945:ios:f8aa3e7584f999d5566800</string>
</dict>
</plist>